/*.calendar{background:none !important;}*/
#constructor .card.card_4 .card_content p.notice{opacity:0;}
#constructor .card.card_5 .form,
#constructor .card.card_5.front div.tooth a.del,
#constructor .card.card_5.back .chart_body div.point a.del,
#constructor .card div.photo.final .del_this_photo
{display:none;}
#constructor .card.card_new .card_title span {
	background: none !important;
}