#constructor.print .constructor_content {
	padding: 0 !important;
}

html, body, .content, section.page {
	width: 969px !important;
	min-width: 0 !important;
}

#constructor .card {
	margin: 0 !important;
}

#constructor .card.card_5.back {
	margin-top: 79px !important;
}

.photo {
	background: none !important;
}

.photo .inner > p {
	display: none !important
}

.photo {
	background: none !important;
}

#constructor input[type='text']::-webkit-input-placeholder {color: rgba(255, 255, 255, 0) !important;}
#constructor input[type='text']::-moz-placeholder {color: rgba(255, 255, 255, 0) !important;}
#constructor input[type='text']:-moz-placeholder {color: rgba(255, 255, 255, 0) !important;}
#constructor input[type='text']:-ms-input-placeholder {color: rgba(255, 255, 255, 0) !important;}

#constructor ul.dropdown:after {
	display: none;
}

#constructor input[type='text']:not(.comment),
#constructor ul.dropdown li {
	color: white;
	border: 0;
	font-size: 24px;
}

div.calendar {
	background: none !important;
}

#constructor .card_5 {
	width: 1375px !important;
	height: 969px !important;
}

#constructor .card_5.rotated {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-left: -203px !important;
	-webkit-backface-visibility: hidden;
	position: absolute;
	left: 0;
	top: 203px;
}

#constructor .card.card_5.front .card_content {
	height: 894px;
}

#constructor .card.card_5.back .card_content {
	height: 894px;
	background-size: cover;
	background-position: left bottom;
}

#constructor .card.card_5.front div.teeth_wrapper {
	padding-left: 92.3px;
}

#constructor .card.card_5.front div.tooth.tooth_1 {
	height: 308px;
	background-position: center top, center 42px;
	padding-top: 221px;
}

#constructor .card.card_5.front div.tooth.tooth_1:nth-of-type(2n):before {
	margin-left: -2px;
	width: 5px;
	top: 78px;
}

#constructor .card.card_5.front div.tooth p,
#constructor .card.card_5.front div.tooth p span {
	font-size: 18px;
}

#constructor .card.card_5.front div.tooth {
	width: 124px;
}

#constructor .card.card_5.front .card_content {
	background-size: 1285px auto;
}

#constructor .card.card_5.back .chart_body {
	left: 139px;
	bottom: 135px;
	top: 150px;
}

#constructor .card.card_5.back .ruler .y {
    padding-top: 160px;
    width: 120px;
    margin-left: 29px;
}

#constructor .card.card_5.back .ruler .y p {
	font-size: 24px;
}

#constructor .card.card_5.back .ruler .y ul li {
	height: 53px;
	line-height: 53px;
	font-size: 24px;
	width: 110px;
}

#constructor .card.card_5.back .ruler .y ul:after {
	right: -24px;
	bottom: -18px;
}

#constructor .card.card_5.back .ruler .x {
    bottom: 71px;
    left: 139px;
}

#constructor .card.card_5.back .ruler .x ul li {
	width: 97px;
	font-size: 18px;
}

#constructor .card.card_5.back {
	margin-top: 0 !important;
}

#constructor .card.card_5.back .chart_body div.point {
	width: 44px;
	height: 44px;
	margin-left: -22px;
	margin-bottom: -18px;
}

#constructor .card.card_5.back .chart_body div.point p {
	font-size: 16px;
    line-height: 44px;
}