
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <header class="top_header">
                            <h4 id="date" full_date="18 апреля 2015"><span>18</span> <span>апреля</span> <span>2015</span></h4>
                            <div class="photo premade fixed block_drag">
                                
                                <img class="photo_image_seo" itemprop="image" src="uploads/2a1b3bc453e5c86e53d5c836c59d0ed5.png">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic" init_w="600" init_h="399" zoom="9" style="width: 480px; height: 319.2px; left: 0px; top: 0px; background-image: url(http://bookagoo.webpoetry.org/admin/uploads/2a1b3bc453e5c86e53d5c836c59d0ed5.png);"></figure>
                                
                                
                            </div>
                            <aside>
                                <h1 id="title" itemprop="name">Aenean sollicitudin, lorem quis bibendum auctor. dwqd<br></h1>
                                <div class="text premade block_drag fixed" style="height: 240px;">
                                    <p itemprop="text" class="fixed_child lead" style="height: 230px;">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<br style="color: rgb(51, 51, 51); letter-spacing: normal;">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus.</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"><div class="header premade fixed for_tt extended" style="top: auto; left: auto; height: 40px; width: 842px;">
                        <p itemprop="text" class="fixed_child">Heading</p>
                    </div><div class="text premade fixed for_tt" style="top: auto; left: auto; height: 280px; width: 842px;">
                        <p itemprop="text" class="fixed_child">Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br style="color: rgb(51, 51, 51); letter-spacing: normal;">Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                    </div></section>
                        </section>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    