
                        
                        <header class="top_header">
                            <h4 id="date" full_date="18 апреля 2014"><span>18</span> <span>апреля</span> <span>2014</span></h4>
                            <h1 id="title" itemprop="name">Making Your Website Design Accessible</h1>
                            <div class="photo premade fixed block_drag" style="height: 402px;">
                                
                                <img class="photo_image_seo" itemprop="image" src="uploads/4036953ad93cd17effd3a07e7c732bf6.png">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic" init_w="700" init_h="399" zoom="5" style="width: 840px; height: 478.8px; left: -15px; top: -68px; background-image: url(http://webpoetry.org/bookagoo/admin/uploads/4036953ad93cd17effd3a07e7c732bf6.png);"></figure>
                                
                                
                            </div>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"><div class="header premade for_tt fixed" style="height: 80px; top: auto; left: auto; width: 520px;">
                        <p itemprop="text" class="fixed_child">Here’s What a Blind Accessibility Expert Has to Say on the Topic</p>
                    </div><div class="text premade fixed for_tt" style="top: auto; left: auto; height: 420px; width: 520px;">
                        <p itemprop="text" class="fixed_child">Website accessibility is a tough topic. On one hand, there’s a lot of what can be considered&nbsp;<span class="italic highlighted">common knowledge advice</span>. But on the other,&nbsp;we felt that if we’re going to cover it, we need to go above that.<br><br>There’s only us here, so let’s be honest. Making a website design accessible does seem like a pain. Or&nbsp;additional&nbsp;work, at best, that you won’t necessarily get rewarded for.<br><br>Therefore accessibility is not immediately on our mind when we’re sitting&nbsp;<a href="http://blogs.adobe.com/dreamweaver/2015/08/what-web-designers-should-when-facing-the-blank-screen-of-terror.html" target="_blank" class="link highlighted">in front of a blank screen</a>&nbsp;and being&nbsp;work on a new project. We tend to focus on other things … what the logo should look like, how to design the content presentation, which layout is going to be effective.<br><br>Perhaps we should step back and really notice the big picture … the picture of making sure that whatever we create should make the web an overall better place, and not just serve as means to an end for our client, or whatever purpose we’re building the site for.<br><br>The topic of&nbsp;<span class="bold highlighted">web accessibility should be treated as crucially important</span>. In fact, in some jurisdictions, it is mandatory by law for public websites to be accessible (to&nbsp;abide to the&nbsp;Web Content Accessibility Guidelines –&nbsp;<a href="http://www.w3.org/TR/WCAG20/" target="_blank" class="link highlighted">WCAG – 2.0</a>&nbsp;– something we talked about&nbsp;a while ago on this blog). In most small business scenarios, things might not be as brutal, but they’re still worth thinking through and looking into closely.&nbsp;<br></p>
                    </div><div class="photo premade fixed for_tt" style="height: 280px;">
                        
                        
                        <figure class="photo_image pre_hidden" zoom="9" init_w="700" init_h="339" style="width: 560px; height: 271.2px; left: -19px; top: -7px; background-image: url(http://webpoetry.org/bookagoo/admin/uploads/b368eb9d13f9b0d72c3068d97ab24598.jpg);"></figure>
                        <img class="photo_image_seo" itemprop="image" src="uploads/b368eb9d13f9b0d72c3068d97ab24598.jpg">
                        
                        
                    </div></section>
                        </section>
                    
                    