
                        <header class="top_header clearfix">
                            <h4 id="date" full_date="17 мая 2015"><span>17</span> <span>мая</span> <span>2015</span></h4>
                            <div class="photo premade fixed block_drag">
                                
                                <img class="photo_image_seo" itemprop="image">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic"></figure>
                                
                                
                            </div>
                            <aside>
                                <h1 id="title" itemprop="name">Bookagoo!1!!</h1>
                                <div class="text premade block_drag fixed lead">
                                    <p itemprop="text" class="fixed_child" style="height: 244px;">fdasgsdgasdmgnaskl;gadsngk;adsngaknsdkl;gnsda;kgnakls;dgnas;kdgnad;slgnasd;gndslkgnsadlkgnasdklgnd</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"><div class="text premade for_tt fixed extended" style="top: auto; left: auto; height: 180px; width: 842px;">
                        <p itemprop="text" class="fixed_child">etrwherherherhewhewhrehewrhwerherwgregwergegergewrgergewrgewr</p>
                    </div></section>
                        </section>
                    