
                        <header class="top_header">
                            <h4 id="date" full_date="18 апреля 2014"><span>18</span> <span>апреля</span> <span>2014</span></h4>
                            <div class="photo premade fixed block_drag">
                                
                                <img class="photo_image_seo" itemprop="image">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic"></figure>
                                
                                
                            </div>
                            <aside>
                                <h1 id="title" itemprop="name">Article
                                title</h1>
                                <div class="text premade block_drag fixed">
                                    <p itemprop="text" class="fixed_child">Regular text</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"></section>
                        </section>
                    