
                        <header class="top_header clearfix">
                            <h4 id="date" full_date="17 мая 2015"><span>17</span> <span>мая</span> <span>2015</span></h4><dropdown class="clearfix helper"><select style="width: 27px;"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select><select style="width: 48px;"><option>января</option><option>февраля</option><option>марта</option><option>апреля</option><option>мая</option><option>июня</option><option>июля</option><option>августа</option><option>сентября</option><option>октября</option><option>ноября</option><option>декабря</option></select><select style="width: 50px;"><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option></select></dropdown>
                            <div class="photo premade fixed block_drag">
                                <upload class="pre_hidden upload_photo helper">Upload</upload>
                                <img class="photo_image_seo" itemprop="image">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic"></figure>
                                <hint class="pre_hidden helper">drag and drop</hint>
                                <form class="secret helper" enctype="multipart/form-data" method="post" action="php/router.php">
                                    <input type="file" name="photo" class="load_image">
                                    <input type="hidden" name="mod" value="root.upload_image">
                                </form>
                            </div>
                            <aside>
                                <h1 contenteditable="true" id="title" itemprop="name">Bookagoo!1!!</h1>
                                <div class="text premade block_drag fixed lead">
                                    <p itemprop="text" contenteditable="true" class="fixed_child" style="height: 244px;">fdasgsdgasdmgnaskl;gadsngk;adsngaknsdkl;gnsda;kgnakls;dgnas;kdgnad;slgnasd;gndslkgnsadlkgnasdklgnd</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"><div class="text premade for_tt fixed extended" style="top: auto; left: auto; height: 180px; width: 842px;">
                        <p itemprop="text" class="fixed_child" contenteditable="true">etrwherherherhewhewhrehewrhwerherwgregwergegergewrgergewrgewr</p>
                    </div></section>
                        <side_tt id="side_tooltip" class="helper" style="left: 868px; top: 20px; display: inline;">
        <wrapper>
            <span data-action="remove"></span>
            <span data-action="settings"></span>
        </wrapper>
    </side_tt><aside id="selection_tooltip" data-init_w="84" class="" style="left: 169px; top: -20px; display: none; visibility: visible; width: 84px;">
        <wrapper>
            <div class="first_level">
                <tools class="clearfix">
                    <span data-apply="bold">B</span>
                    <span data-apply="italic">I</span>
                    <span data-apply="link"></span>
                </tools>
            </div>
            <div class="second_level">
                <add_link>
                    <input type="text" value="http://" data-hint="http://">
                    <button>ok</button>
                </add_link>
            </div>
        </wrapper>
    </aside></section>
                    