
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <header class="top_header">
                            <h4 id="date" full_date="18 апреля 2015"><span>18</span> <span>апреля</span> <span>2015</span></h4><dropdown class="clearfix helper"><select style="width: 30px;"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select><select style="width: 84px;"><option>января</option><option>февраля</option><option>марта</option><option>апреля</option><option>мая</option><option>июня</option><option>июля</option><option>августа</option><option>сентября</option><option>октября</option><option>ноября</option><option>декабря</option></select><select style="width: 50px;"><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option></select></dropdown>
                            <div class="photo premade fixed block_drag">
                                <upload class="pre_hidden upload_photo helper">Upload</upload>
                                <img class="photo_image_seo" itemprop="image" src="uploads/2a1b3bc453e5c86e53d5c836c59d0ed5.png">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic" init_w="600" init_h="399" zoom="9" style="width: 480px; height: 319.2px; left: 0px; top: 0px; background-image: url(http://bookagoo.webpoetry.org/admin/uploads/2a1b3bc453e5c86e53d5c836c59d0ed5.png);"></figure>
                                <hint class="pre_hidden helper">drag and drop</hint>
                                <form class="secret helper" enctype="multipart/form-data" method="post" action="php/router.php">
                                    <input type="file" name="photo" class="load_image">
                                    <input type="hidden" name="mod" value="root.upload_image">
                                </form>
                            </div>
                            <aside>
                                <h1 contenteditable="true" id="title" itemprop="name">Aenean sollicitudin, lorem quis bibendum auctor. dwqd<br></h1>
                                <div class="text premade block_drag fixed" style="height: 240px;">
                                    <p itemprop="text" contenteditable="true" class="fixed_child lead" style="height: 230px;">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.<br style="color: rgb(51, 51, 51); letter-spacing: normal;">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus.</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"><div class="header premade fixed for_tt extended" style="top: auto; left: auto; height: 40px; width: 842px;">
                        <p itemprop="text" class="fixed_child" contenteditable="true">Heading</p>
                    </div><div class="text premade fixed for_tt" style="top: auto; left: auto; height: 280px; width: 842px;">
                        <p itemprop="text" class="fixed_child" contenteditable="true">Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br style="color: rgb(51, 51, 51); letter-spacing: normal;">Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.&nbsp;<br style="color: rgb(51, 51, 51); letter-spacing: normal;"><br style="color: rgb(51, 51, 51); letter-spacing: normal;">Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                    </div></section>
                        <aside id="selection_tooltip" data-init_w="84" class="" style="left: -392px; top: -481px; display: none; visibility: visible; width: 84px;">
        <wrapper>
            <div class="first_level">
                <tools class="clearfix">
                    <span data-apply="bold">B</span>
                    <span data-apply="italic">I</span>
                    <span data-apply="link"></span>
                </tools>
            </div>
            <div class="second_level">
                <add_link>
                    <input type="text" value="http://" data-hint="http://">
                    <button>ok</button>
                </add_link>
            </div>
        </wrapper>
    </aside><aside id="selection_tooltip" data-init_w="84" class="helper">
        <wrapper>
            <div class="first_level">
                <tools class="clearfix">
                    <span data-apply="bold">B</span>
                    <span data-apply="italic">I</span>
                    <span data-apply="link"></span>
                </tools>
            </div>
            <div class="second_level">
                <add_link>
                    <input type="text" value="http://" data-hint="http://">
                    <button>ok</button>
                </add_link>
            </div>
        </wrapper>
    </aside><aside id="selection_tooltip" data-init_w="84" class="helper">
        <wrapper>
            <div class="first_level">
                <tools class="clearfix">
                    <span data-apply="bold">B</span>
                    <span data-apply="italic">I</span>
                    <span data-apply="link"></span>
                </tools>
            </div>
            <div class="second_level">
                <add_link>
                    <input type="text" value="http://" data-hint="http://">
                    <button>ok</button>
                </add_link>
            </div>
        </wrapper>
    </aside><aside id="selection_tooltip" data-init_w="84" class="helper">
        <wrapper>
            <div class="first_level">
                <tools class="clearfix">
                    <span data-apply="bold">B</span>
                    <span data-apply="italic">I</span>
                    <span data-apply="link"></span>
                </tools>
            </div>
            <div class="second_level">
                <add_link>
                    <input type="text" value="http://" data-hint="http://">
                    <button>ok</button>
                </add_link>
            </div>
        </wrapper>
    </aside><side_tt id="side_tooltip" class="helper" style="left: 868px; top: 20px; display: inline;">
        <wrapper>
            <span data-action="remove"></span>
            <span data-action="settings"></span>
        </wrapper>
    </side_tt></section>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    