
                        <header class="top_header">
                            <h4 id="date" full_date="18 апреля 2014"><span>18</span> <span>апреля</span> <span>2014</span></h4><dropdown class="clearfix helper"><select style="width: 28px;"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select><select style="width: 80px;"><option>января</option><option>февраля</option><option>марта</option><option>апреля</option><option>мая</option><option>июня</option><option>июля</option><option>августа</option><option>сентября</option><option>октября</option><option>ноября</option><option>декабря</option></select><select style="width: 50px;"><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option></select></dropdown>
                            <div class="photo premade fixed block_drag">
                                <upload class="pre_hidden upload_photo helper">Upload</upload>
                                <img class="photo_image_seo" itemprop="image">
                                <figure class="photo_image pre_hidden" data-zoom="1" id="top_pic"></figure>
                                <hint class="pre_hidden helper">drag and drop</hint>
                                <form class="secret helper" enctype="multipart/form-data" method="post" action="php/router.php">
                                    <input type="file" name="photo" class="load_image">
                                    <input type="hidden" name="mod" value="root.upload_image">
                                </form>
                            </div>
                            <aside>
                                <h1 contenteditable="true" id="title" itemprop="name">Article
                                title</h1>
                                <div class="text premade block_drag fixed">
                                    <p itemprop="text" contenteditable="true" class="fixed_child">Regular text</p>
                                </div>
                            </aside>
                        </header>
                        <section class="main" id="premade_box">
                            <section class="content main_content clearfix" itemprop="articleBody"></section>
                        <side_tt id="side_tooltip" class="helper">
        <wrapper>
            <span data-action="remove"></span>
            <span data-action="settings"></span>
        </wrapper>
    </side_tt></section>
                    