<section class='photo_hover'>
	<section class='inner'>
		<section>
			<div>
				<h5>Загрузи фото:</h5>
				<button class='upload_local'>Загрузить с компьютера</button>
				<button class='upload_social'>Загрузить из соцсетей</button>
			</div>
		</section>
	</section>
</section>