<aside class="profile_menu">
	<a href="profile.php" class="b {if $smarty.server.REQUEST_URI|strstr:'profile'}active{/if}">
		Настройки<br>
		аккаунта
	</a>
	<a href="orders.php" class="b {if $smarty.server.REQUEST_URI|strstr:'orders'}active{/if}">Мои заказы</a>
</aside>